@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin:0;
  padding:0;
  font-family: "Work Sans", sans-serif;
}
.btn{
    border-radius: 8px;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding:15px;
    border:none;
    cursor: pointer;
}
.sub-card{
    position: static;
    width: 424px;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}
.sub-card >.img{
position: static;
width: 424px;
height: 283px;
flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;
}
.sub-card >.img img{
    width: 100%;
}
#hero{
    width:1920px;
    height:919px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(360.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#hero>.sub-hero{
position: absolute;
width: 1023px;
height: 387px;
padding: 0px;
}
.sub-hero>.sub-title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 16px;
}
.sub-hero>.title{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.sub-hero>.discription{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}
.sub-hero>.btn-area{
 display: flex;
 justify-content: center;
}
#card-box{
    width:1920px;
    height:919px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#card-box .card-area{
    position: static;
    width: 1320px;
    height: 746px;
}
#card-box .card-area >.sub-title{
    color: rgb(16, 16, 16);
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 16px;
    
}
#card-box .card-area >.title{
    color: rgb(16, 16, 16);
    width:700px;
    margin:0 314px;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
.cards{
    display: flex;
    gap:24px;
    margin-bottom: 64px;
}
.text{
    position: static;
    width: 424px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.text>.card-sub-title{
    color: rgb(16, 16, 16);
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 38px;
    opacity: 0.8;
}
.text>.card-title{
    color: rgb(16, 16, 16);
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 23px;
}
.text>.card-discription{
    color: rgb(16, 16, 16);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.btn-div{
    display: flex;
    justify-content: center;
}
#aboutus{
    margin-top: 80px;
    width:1920px;
    height:671px; 
    display: flex;
}
#aboutus>.image-1{
width: 960px;
height: 671px;
left: 0;
top: 0;
}
#aboutus>.image-1 img{
    width: 100%;
}
.contain{
    width:960px;
    height:671px;

}
.text-contain{
position: absolute;
width: 830px;
height: 400px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
padding: 0px;
}
.text-contain >.title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 90px;
}
.text-contain >.discription{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin: 24px 0;
}
.text-contain >.follo{
    /* Frame 18 */
position: static;
width: 960px;
height: 70px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 30px 10px 30px 10px;
border:1px dotted gray
}